<div class="container">
	<div class="card mx-auto mt-5" style="max-width: 400px;">
		<div class="card-header">Login</div>
		<div class="card-body">
			<form method="post" (submit)="submitPhone($event,phone)">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" name="phone" id="phone" #phone class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">
						
					Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
